@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=Quicksand:wght@300;400&display=swap');

*{  /*MODO CELULAR!!!!!!!!!*/
  /*MODO CELULAR!!!!!!!!!*/
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* >>>>>>>>>>>>>>>>> CONFIGURACION DEL HEADER Y NAV >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
header {
  background: rgba(255, 255, 255);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float:none;
}

nav ul {
  list-style: none;
  overflow: hidden;
  align-items:center;
}

nav ul li {
  float:left;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 600;
}

nav ul li a {
  display: inline-block;
  padding: 6px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li:hover {
  background: orange;
}

ul li p{
  font-family: Manrope;
  font-weight: 500;
  font-size:large;
  font-style: italic;
  list-style-type:none;
  text-align: left;
}

ul li{
  list-style-type:none;
}

ul li p a{
  font-size:larger;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  CONFIGURACION DEL HEADER Y NAV <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

p {
  font-family: Manrope;
  font-weight: 500;
  font-size:medium;
  margin-left: 0px;
  margin-right: 0px;
}

/* Ajusto el tamaño del video de Youtube al dispositivo */
.videoyoutube{
  width: 340px;/*475px;*/
  height: 200px; /*280px;*/
}

.logotipo{
  width: 237px; /*475px;*/
  height: 65px; /*129px;*/
}

.btn-primary{
  background-color: coral;
  border-color: brown;
  color: black;
  font-weight: bold;
}

.carousel-slide{
  margin-top: 10px;
  margin-bottom: 175px;
}

.direconta{
  font-size: large;
  color: rgb(0, 0, 0);
  margin-left: 5px;
}

.produ {
  margin: 15px 37px 5px 37px;
  padding: 0px;
  border: 2px solid black;
  border-radius: 3%;
  box-shadow: 0px 0px 15px 0px grey;
}

.quien {
  margin: 15px 37px 5px 37px;
  padding: 0px;
  border: 2px solid grey;
  border-radius: 3%;
}

.fotopremio {
  padding: 0px;
  border: 2px solid black;
  border-radius: 3%;
  width: 40%;
  height: 40%;
}

.fotolanzamiento {
  padding: 0px;
  border: 5px ridge orangered;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  width: 75%;
  height: 75%;
}

.fotolanzasecun {
  padding: 0px;
  border: 5px ridge orangered;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  width: 75%;
  height: 75%;
}

.boxdescprodu{
  width: 5px;
}

.ganadores{
  font-size:medium;
  color: black;
}

.tipos{
  letter-spacing: 0.5cm;
  text-align: center;
  background-color:rgb(236, 185, 136);
  margin-top: 15px;
  margin-bottom: 15px;
}

.lineaonline{
  text-align: center;
  align-content: center;
  background: linear-gradient(to left, orangered, pink);
  margin-bottom: 15px;
  font-size:small;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
}

/* Tipo de letra de los encabezados/títulos */
.titles{
  letter-spacing: 0.3cm;
  text-align: center;
  background-color:rgb(236, 185, 136);
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:larger;
  margin-left: 0px;
  margin-right: 0px;
}

/* Cuadrado donde va la descripcion de los videos en la pagina index.thml */
.descripcionvideo {
  background-color: white;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
  border: 0px none black;
}


/* Letra del texto que describe a cada producto */
.textprodu{
  font-size:medium;
}

/* Area y letra correspondiente a los sorteos */
.sorteos{
  font-style: italic;
  margin-left: 100px;
  margin-bottom: 15px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR FLEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Flex del texto debajo de las fotos de los mas vendidos */
.ranking{
  display: flex;
  align-content:flex-start;
  align-items: flex-start;
  justify-content:flex-end;
  margin: 0;
  padding: 0;
}

/* Flex del body */
body{
  text-align: left;
  font-family: Quicksand;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 360px;
  align-content: center;
}

/* Flex del header */
.flex__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/* Flex de los iconos de las redes sociales */
.flex__redes {
  display: flex;
  margin: 50px 0px 50px 0px;
  align-content: center;
  justify-content: center;
}

/* Flex con la orientacion y organizacion de los videos de youtube */
.flex__videos{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Flex de las caracteristicas de los productos de natura */
.flex__caracte{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Flex correspondiente a los sectores de las descripciones de quien.html */
.flex__soyyo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items:center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color:blanchedalmond;
}

/* Flex correspondiente al sector de presentacion de prodcutos de las descripciones de quien.html */
.flex__presenta{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items:center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  background-color:blanchedalmond;
}

/* Flex correspondiente al sector capacitacion de las descripciones de quien.html */
.flex__capa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items:center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  background-color:blanchedalmond;
}

/* Flex correspondiente al sector de las fechas de sorteo */
.flex__fechasorteo{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  background-color:blanchedalmond;
}

/* Flex correspondiente a los medios de contacto */
.flex__medio{
  display: flex;
  justify-content:flex-start;
  align-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 50px;
  padding-right: 0px;
  padding-left: 80px;
  margin-top: 50px;
}

/* Flex del sector de la Descripcion de las publicaciones */
.descpubli{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: -2;
  margin-right: -2;
  padding-left: 0;
  padding-right: 0;
}

/* Flex de los pie de fotos, es la descripcion que va debajo de cada foto de producto*/
.piefoto{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items:flex-end;
  justify-content: center;
}

.fotopubli{
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 15px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR FLEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
.linknatura{
  font-size: 2%;
}

/* Aplico un efecto para que al pasar el cursor sobre la foto esta se agrande un poco */
.produ:hover{
  transform:scale(1.07);
  transition-property: all;
  transition-duration: 1s;
}

.titupremio{
  font-size:larger;
}

.objetos{
  margin-top: 10px;
  margin-bottom: 20px;
}

#pie:hover{
  transform:scale(1.15);
  transition-duration: 1s;
}

#pie{
  width: 95%;
  height: 95%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR GRIDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.grid__contactame{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5px;
  background: linear-gradient(to left, orange, white);
  justify-content:space-around;
  align-content: center;
  align-items: center;
  border: 2px solid orangered;
  text-align: center;
  background-color:white;
  flex-wrap: wrap;
  padding-left: 5px;
}

.grid__pripre{
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 15px;
  justify-content:center;
  align-content: center;
  align-items: center;
  border: 2px solid orangered;
  text-align: center;
  background-color:blanchedalmond;
  margin-bottom: 50px;
}

.ppal{
  grid-area: ppal;
  width: 100%;
  margin: 25px 0px 25px;
  text-align: center;
}

.superior{
  grid-area: superior;
  width: 100%;
  height: 2fr;
  margin: 25px 0px 25px;
  text-align: center;
}

.inferior{
  grid-area: inferior;
  width: 100%;
  margin: 25px 0px 25px;
  text-align: center;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR GRIDS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* --------------------------------------------------------------------------------------------------------------- */
/*MODO TABLET!!!!!!!!!*/
@media (min-width: 501px){ /*MODO TABLET!!!!!!!!!*/
  /*MODO TABLET!!!!!!!!!*/

  nav ul {
    list-style: none;
    overflow: hidden;
    align-items:center;
  }

  nav ul li {
    float:left;
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 600;
  }

  .logotipo{
    width: 475px;
    height: 129px;
  }

  .ganadores{
    font-size:larger;
    color: black;
  }

  /* Tipo de letra de los encabezados/títulos */
.titles{
  letter-spacing: 0.5cm;
}

  .descripcionvideo {
    background-color: coral;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 15px 0px 0px 0px;
    border: 0px none black;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR FLEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  body{
    text-align: center;
    font-family: Quicksand;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
  }

  .listfotos{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
  }

  .flex__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

    /* Flex correspondiente al sector de las fechas de sorteo */
.flex__fechasorteo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color:blanchedalmond;
}

.fotopubli{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR FLEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.imglogo{
  width: auto;
  align-items:stretch;
  text-align:right;
}

/* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
.linknatura{
    font-size:large;
}

  /* Ajusto el tamaño del video de Youtube al dispositivo */
  .videoyoutube{
    width: 695px;
    height: 350px;
  }

  .ganadores{
    font-size:x-large;
    color: black;
  }

  .direconta{
    font-size: large;
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }

  .fotolanzamiento {
    padding: 0px;
    border: 5px ridge orangered;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 60%;
    height: 60%;
  }

  .fotolanzasecun {
    padding: 0px;
    border: 5px ridge orangered;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 60%;
    height: 60%;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR GRIDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grid__contactame{
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 5px;
    background: linear-gradient(to left, orange, white);
    justify-content:space-around;
    align-content: center;
    align-items: center;
    border: 2px solid orangered;
    text-align: center;
    background-color:white;
    flex-wrap: wrap;
    padding-left: 20px;
  }
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR GRIDS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}

/* --------------------------------------------------------------------------------------------------------------- */
/*MODO DESKTOP!!!!!!!!!*/
@media (min-width:1024px){ /*MODO DESKTOP!!!!!!!!!*/
/*MODO DESKTOP!!!!!!!!!*/
  body {
    background-color: white;
  }

  nav {
    float: left;
  }

  nav ul li {
    float: left;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
  }

  nav ul li a {
    display: inline-block;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  p {
    font-family: Manrope;
    font-weight: 500;
    font-size:large;
    margin-left: 0px;
    margin-right: 0px;
  }

  .logotipo{
    width: 475px;
    height: 129px;
  }

    /* Ajusto el tamaño del video de Youtube al dispositivo */
    .videoyoutube{
      width: 560px;
      height: 315px;
    }

      /* Tipo de letra de los encabezados/títulos */
.titles{
  letter-spacing: 0.5cm;
}

  .fotolanzamiento {
    padding: 0px;
    border: 5px ridge orangered;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: auto;
    height: auto;
  }

  .fotolanzasecun {
    padding: 0px;
    border: 5px ridge orangered;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: auto;
    height: auto;
  }

  .descripcionvideo {
    background-color: coral;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 144px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px 0px 0px;
    border: 0px none black;
    align-items: flex-end;
    align-content: flex-end;
    justify-content:left;
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR FLEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .flex__header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex__soyyo{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items:center;
    border: 2px solid orangered;
    text-align: center;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    background-color:blanchedalmond;
    flex-wrap: nowrap;
  }

  .flex__presenta{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items:center;
    border: 2px solid orangered;
    text-align: center;
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color:blanchedalmond;
    flex-wrap: nowrap;
  }

  .flex__capa{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items:center;
    border: 2px solid orangered;
    text-align: center;
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color:blanchedalmond;
    flex-wrap: nowrap;
  }

  /* Flex correspondiente al sector de las fechas de sorteo */
.flex__fechasorteo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color:blanchedalmond;
}

.listfotos{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.flex__caracte{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR FLEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

  #pie{
  width: 75%;
  height: 75%;
}

/* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
.linknatura{
  font-size:large;
}
  
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR GRIDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grid__contactame{
    display: grid;
    grid-template-columns: 15px 3fr 1fr 3fr 1fr;
    grid-template-rows: 350px;
    background: linear-gradient(to left, orange, white);
    justify-content:space-around;
    align-content: center;
    align-items: center;
    border: 2px solid orangered;
    text-align: center;
    background-color:white;
    flex-wrap: wrap;
  }

  .grid__pripre{
    display: grid;
    grid-template-columns: 5px 2fr 2fr 2fr 4fr 5px;
    grid-template-rows: 350px;
    justify-content:center;
    align-content: center;
    align-items: center;
    border: 2px solid orangered;
    text-align: center;
    background-color:blanchedalmond;
    margin-bottom: 50px;
  }

  .ppal{
    grid-area: ppal;
    width: 100px;
    justify-content:stretch;
    align-content: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 50px;
  }

  .superior{
    grid-area: superior;
    width: 100%;
    height: 2fr;
    margin: 25px 0px 25px;
  }

  .inferior{
    grid-area: inferior;
    width: 100%;
    margin: 15px 0px 25px;
  }

  .proxciclo{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "ppal   superior"
    "ppal   inferior";
    justify-content:space-around;
  }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR GRIDS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

}
