/*Config de la letra de los tipos de elnaces para contactarme*/
.direconta {
    font-size: large;
    color: rgb(0, 0, 0);
    margin-left: 5px;

    @media (min-width: 501px) {
        font-size: large;
        color: rgb(0, 0, 0);
        margin-left: 10px;
    }
}

/* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
.linknatura {
    font-size: 2%;
    
    @media (min-width: 501px) {
        font-size: large;
    }

    @media (min-width:1024px) {
        font-size: large;
    }
}

/* Flex correspondiente a los medios de contacto */
.flex__enlace {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10px;
}

/* Controlar que lo use al grid */ /*probar BORRARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
.grid__contactame {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5px;
    background: linear-gradient(to left, orange, white);
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border: 2px solid orangered;
    text-align: center;
    background-color: white;
    flex-wrap: wrap;
    padding-left: 5px;

    @media (min-width: 501px) {
        display: grid;
        grid-template-columns: 10fr;
        grid-template-rows: 5px;
        background: linear-gradient(to left, orange, white);
        justify-content: space-around;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
        padding-left: 20px;
    }

    @media (min-width:1024px) {
        display: grid;
        grid-template-columns: 15px 3fr 1fr 3fr 1fr;
        grid-template-rows: 350px;
        background: linear-gradient(to left, orange, white);
        justify-content: space-around;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
    }
}

/* Aumento el tamaño de la fuente de los enlaces de contacto*/
.enlacesgrandes {
    @media (min-width: 501px) {
        font-size: x-large;
    }    
}