/* Ajusto el tamaño del video de Youtube al dispositivo */
.videoyoutube {
    width: 340px;
    /*475px;*/
    height: 200px;
    /*280px;*/

    @media (min-width: 501px) {
        width: 695px;
        height: 350px;
    }

    @media (min-width:1024px) {
        width: 560px;
        height: 315px;
    }
}

/*Foto de proximo ciclo*/
.fotolanzamiento {
    padding: 0px;
    border: 5px ridge coral;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 75%;
    height: 75%;

    @media (min-width: 501px) {
        padding: 0px;
        border: 5px ridge coral;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: 60%;
        height: 60%;
    }

    @media (min-width:1024px) {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: auto;
        height: auto;
    }
}

/*Fotos secundarias de proximo ciclo*/
.fotolanzasecun {
    padding: 0px;
    border: 5px ridge coral;
    border-radius: 10%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 75%;
    height: 75%;

    @media (min-width: 501px) {
        padding: 0px;
        border: 5px ridge coral;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: 60%;
        height: 60%;
    }

    @media (min-width:1024px) {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: auto;
        height: auto;
    }
}

/* Cuadrado donde va la descripcion de los videos en la pagina index.thml */
.descripcionvideo {
    background-color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px none black;

    @media (min-width: 501px) {
        background-color: $colordescvideo;
        text-align: center;
        padding: 15px 0px 15px 0px;
        margin: 15px 0px 0px 0px;
        border: 0px none black;
    }

    @media (min-width:1024px) {
        background-color: $colordescvideo;
        text-align: center;
        padding-top: 144px;
        padding-bottom: 144px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px 0px 0px 0px;
        border: 0px none black;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: left;
    }
}

/* FLEX del texto debajo de las fotos de los mas vendidos */
.ranking {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

/*Grilla de los adelantos de proximo ciclo*/
.ppal {
    grid-area: ppal;
    width: 100%;
    margin: 25px 0px 25px;
    text-align: center;

    @media (min-width:1024px) {
        grid-area: ppal;
        width: 100px;
        justify-content: stretch;
        align-content: center;
        align-items: center;
        margin-left: 75px;
        margin-top: 50px;
    }
}

/*Grilla de los adelantos de proximo ciclo lateral superior*/
.superior {
    grid-area: superior;
    width: 100%;
    height: 2fr;
    margin: 25px 0px 25px;
    text-align: center;

    @media (min-width:1024px) {
        grid-area: superior;
        width: 100%;
        height: 2fr;
        margin: 25px 0px 25px;
    }
}

/*Grilla de los adelantos de proximo ciclo lateral inferior*/
.inferior {
    grid-area: inferior;
    width: 100%;
    margin: 25px 0px 25px;
    text-align: center;

    @media (min-width:1024px) {
        grid-area: inferior;
        width: 100%;
        margin: 15px 0px 25px;
    }
}

.proxciclo {
    @media (min-width:1024px) {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "ppal   superior"
            "ppal   inferior";
        justify-content: space-around;
    }
}
