header {
    background: rgba(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: none;

    @media (min-width:1024px) {
        float: left;
    }

    ul {
        list-style: none;
        overflow: hidden;
        align-items: center;

        @media (min-width:501px){
            list-style: none;
            overflow: hidden;
            align-items: center;
        }

        li {
            float: left;
            font-family: Quicksand;
            font-size: 15px;
            font-weight: 600;

            @media (min-width:501px){
                float: left;
                font-family: Quicksand;
                font-size: 25px;
                font-weight: 600;
            }

            @media (min-width:1024px) {
                float: left;
                font-family: Quicksand;
                font-size: 20px;
                font-weight: 600;
            }

            a {
                display: block;
                padding: 10px;
                color: $colorletranavbar;
                text-decoration: none;


                @media (min-width:1024px) {
                    display: block;
                    padding: 15px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }    
        
        li:hover {
            background: $colornavbar;
        }
    }
}

ul {

    li {
        list-style-type: none;

        p {
            font-family: Manrope;
            font-weight: 500;
            font-size: large;
            font-style: italic;
            list-style-type: none;
            text-align: left;

            a {
                font-size: larger;
            }
        }
    }
}

/*Dimensiones del logo de la navbar*/
.logotipo {
    width: 260px;
    height: 70px;

    @media (min-width:400px){
        width: 284px;
        height: 78px;  
    }

    @media (min-width:501px){
        width: 712px;
        height: 194px;     
    }

    @media (min-width:1024px) {
        width: 475px;
        height: 129px;
    }
}