/*PALETA DE COLORES DE SITE*/
$colornavbar: orange;
$colorletranavbar: black;
$colordescvideo: coral;
$colortitulosection: rgb(236, 185, 136);
$colorgrad1: orangered;
$colorgrad2: pink;
$colorbotonsinselect: coral;
$bordecolorsinselect: brown;
$colorbotonseleccionado: palegreen;
$bordecolorseleccionado: crimson;