@import "variableGlobal";
@import "generales";
@import "navbar";
@import "index";
@import "promociones";
@import "contactame";
@import "quien";
@import "sorteos";


/* Configuracion del color del boton de COMPRAR del card de BS*/
.btn-primary {
    background-color: coral;
    border-color: brown;
    color: black;
    font-weight: bold;
}

/* Configuracion del color del boton de COMPRAR del card de BS*/
.btn-primary:hover {
    background-color: palegreen;
    border-color: crimson;
    color: black;
    font-weight: bold;
}

/* Configuración del slide de BS */
.carousel-slide {
    margin-top: 10px;
    margin-bottom: 175px;
}



/* --------------------------------------------------------------------------------------------------------------- */
/*MODO TABLET!!!!!!!!!*/
@media (min-width: 501px) {
    /*MODO TABLET!!!!!!!!!*/
    /*MODO TABLET!!!!!!!!!*/

    nav ul {
        list-style: none;
        overflow: hidden;
        align-items: center;
    }

    nav ul li {
        float: left;
        font-family: Quicksand;
        font-size: 25px;
        font-weight: 600;
    }

    .logotipo {
        width: 475px;
        height: 129px;
    }

    .ganadores {
        font-size: larger;
        color: black;
    }

    /* Tipo de letra de los encabezados/títulos */
    .titles {
        letter-spacing: 0.5cm;
    }

    .descripcionvideo {
        background-color: coral;
        text-align: center;
        padding: 15px 0px 15px 0px;
        margin: 15px 0px 0px 0px;
        border: 0px none black;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR FLEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    body {
        text-align: center;
        font-family: Quicksand;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        /* width: auto; */
        max-width: 1023px;
        margin: 0 auto;
    }

    .listfotos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .flex__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Flex correspondiente al sector de las fechas de sorteo */
    .flex__fechasorteo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        margin-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: blanchedalmond;
    }

    .fotopubli {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR FLEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

    .imglogo {
        width: auto;
        align-items: stretch;
        text-align: right;
    }

    /* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
    .linknatura {
        font-size: large;
    }

    /* Ajusto el tamaño del video de Youtube al dispositivo */
    .videoyoutube {
        width: 695px;
        height: 350px;
    }

    .ganadores {
        font-size: x-large;
        color: black;
    }

    .direconta {
        font-size: large;
        color: rgb(0, 0, 0);
        margin-left: 10px;
    }

    .enlacesgrandes {
        font-size: x-large;
    }

    .fotolanzamiento {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: 60%;
        height: 60%;
    }

    .fotolanzasecun {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: 60%;
        height: 60%;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR GRIDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .grid__contactame {
        display: grid;
        grid-template-columns: 10fr;
        grid-template-rows: 5px;
        background: linear-gradient(to left, orange, white);
        justify-content: space-around;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
        padding-left: 20px;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR GRIDS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}

/* --------------------------------------------------------------------------------------------------------------- */
/*MODO DESKTOP!!!!!!!!!*/
@media (min-width:1024px) {

    /*MODO DESKTOP!!!!!!!!!*/
    /*MODO DESKTOP!!!!!!!!!*/
    body {
        background-color: white;
        /* width: auto; */
        max-width: 1920px;
        margin: 0 auto;
    }

    nav {
        float: left;
    }

    nav ul li {
        float: left;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
    }

    nav ul li a {
        display: inline-block;
        padding: 15px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    p {
        font-family: Manrope;
        font-weight: 500;
        font-size: large;
        margin-left: 0px;
        margin-right: 0px;
    }

    .logotipo {
        width: 475px;
        height: 129px;
    }

    /* Ajusto el tamaño del video de Youtube al dispositivo */
    .videoyoutube {
        width: 560px;
        height: 315px;
    }

    /* Tipo de letra de los encabezados/títulos */
    .titles {
        letter-spacing: 0.5cm;
    }

    .fotolanzamiento {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: auto;
        height: auto;
    }

    .fotolanzasecun {
        padding: 0px;
        border: 5px ridge orangered;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        width: auto;
        height: auto;
    }

    .descripcionvideo {
        background-color: coral;
        text-align: center;
        padding-top: 144px;
        padding-bottom: 144px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px 0px 0px 0px;
        border: 0px none black;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: left;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR FLEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .flex__header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flex__soyyo {
        display: flex;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        padding-top: 0px;
        margin-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: blanchedalmond;
        flex-wrap: nowrap;
    }

    .flex__presenta {
        display: flex;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: blanchedalmond;
        flex-wrap: nowrap;
    }

    .flex__capa {
        display: flex;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: blanchedalmond;
        flex-wrap: nowrap;
    }

    /* Flex correspondiente al sector de las fechas de sorteo */
    .flex__fechasorteo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        margin-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: blanchedalmond;
    }

    .listfotos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .flex__caracte {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR FLEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

    #pie {
        width: 75%;
        height: 75%;
    }

    /* Configuro el tamaño de letra del enlace a la pagina de natura para que entre en el ancho de pantalla*/
    .linknatura {
        font-size: large;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTOR GRIDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .grid__contactame {
        display: grid;
        grid-template-columns: 15px 3fr 1fr 3fr 1fr;
        grid-template-rows: 350px;
        background: linear-gradient(to left, orange, white);
        justify-content: space-around;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
    }

    .grid__pripre {
        display: grid;
        grid-template-columns: 5px 2fr 2fr 2fr 4fr 5px;
        grid-template-rows: 350px;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 2px solid orangered;
        text-align: center;
        background-color: blanchedalmond;
        margin-bottom: 50px;
    }

    .ppal {
        grid-area: ppal;
        width: 100px;
        justify-content: stretch;
        align-content: center;
        align-items: center;
        margin-left: 75px;
        margin-top: 50px;
    }

    .superior {
        grid-area: superior;
        width: 100%;
        height: 2fr;
        margin: 25px 0px 25px;
    }

    .inferior {
        grid-area: inferior;
        width: 100%;
        margin: 15px 0px 25px;
    }

    .proxciclo {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "ppal   superior"
            "ppal   inferior";
        justify-content: space-around;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SECTOR GRIDS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

}